*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: Arial, sans-serif;
  }
  
  header{
    background-color: #ffff;
    padding: 1.5vw;
    margin: 0;
  }

  .navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
  
  .logo{
    size: 100%;
  }
  
  .menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5vw;
  }
  
  .menu a{
    margin: 0 0.5vw;
    text-decoration: none;
    color: #333;
    font-size: 1.5vw;
  }
  
  .menu a:hover{
    color:rgb(97, 97, 232);
  }
  
  .hero{
    background-color: rgb(97, 97, 232);
    text-align: center;
    padding: 2.5vw 5vw;
    color: #000;
    width: 100%;
  }
  
  .hero h1{
    font-size: 4vw;
  }
  
  .hero h2{
    font-size: 3vw;
  }
  
  .hero h1,.hero h2{
    font-family: 'Arial Black', sans-serif;
    text-align: center;
  }

  .hero h3{
    font-size: 2vw;
  }
  
  .info{
    background-color: #fff;
    margin-top: 1vw;
  }

  .info-container{
    display: flex;
    align-items: center;
    padding: 2vw 1.5vw;
    max-width: 1200px;
    margin: 0 auto;
    gap: 2vw;
    font-family: Arial, sans-serif;
    flex-direction: row;
    text-align: center;

  }
  
  .info-image{
    width: 50%;
    border: 2px solid rgb(97, 97, 232);
    margin: 0 auto;
  }
  
  .info-text{
    width: 50%;
    text-align: left;
  }
  
  .info-title{
    font-size: 2vw;
    font-weight: bold;
    color: black;
    background-color: rgb(97, 97, 232);
    padding: 1vw 0;
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap; 
    gap: 1vw;
    justify-content: center;
  }
  
  .info-text p{
    margin-top: 1vw;
    font-size: 1.5vw;
    margin-left: 0.5vw;
  }
  
  .news-container {
    text-align: center; 
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 2vw;
  }
   
  .news-cards {
    display: flex;
    flex-wrap: wrap; 
    gap: 2vw;
    justify-content: center; 
  }

  .news-card {
    background-color:white;
    border-radius: 0.8vw;
    box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.303);
    padding: 2vw;
    max-width: 30%;
    text-align: center;
    grid-template-columns: 1fr;
  }
    
  .news-card h3 {
    font-size: 2vw; 
    margin: 1vw; 
    color: black;
  }
  
  .news-card p {
    font-size: 1.5vw;
    color: black; 
    margin: 0 1vw 1vw 1vw; 
  }
  
  .news-card a {
    display: block; 
    text-align: center; 
    padding: 1vw;
    margin-bottom: 1.5vw;
    background-color: rgb(97, 97, 232); 
    color: white; 
    text-decoration: none; 
    border-radius: 4px; 
    transition: background-color 0.3s ease;
    font-size: 1.5vw;
  }

  .card{
    flex: 1 1 calc(33.33% - 0.4vw);
  }

  .news{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
}
  
  footer{
    background-color: black;
    color: white;
    padding: 2vw;
    text-align: center;
  }
  
  .footer-menu{
    display:flex;
    justify-content: center;
    gap:1.5vw;
    margin-bottom: 1vw;
    align-content: stretch;
    align-items: center;
  }

  .social-media{
    display:flex;
    justify-content: center;
    gap:1.5vw;
    margin-bottom: 1vw;
    align-content: stretch;
    align-items: center;
  }

  .social-media img{
    width: 80%;
  }
  
  .footer-menu a, .social-media a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5vw;
  }
  
  .footer-menu a:hover, .social-media a:hover {
    color: rgb(97, 97, 232);
  }
  
  footer p {
    font-size: 1.5vw;
    opacity: 0.8;
  }
   
  @media (max-width: 767px) {
    .card {
        margin: 0.2vw auto;
        width: 90%;
    }

    .footer-menu{
      flex-direction: column;
    }
    
    .social-media img{
      width: 25%;
    }

    .logo{
      width: 2%;
    }

    .info-image{
      width: 30%;
    }
  }
  
  
  
  
  