*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, sans-serif;
}

header{
  background-color: #ffff;
  padding: 1vw;
  margin: 0;
}

.navbar{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.logo{
  size: 100%;
}

.menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5vw;
}

.menu a{
  margin: 0 0.5vw;
  text-decoration: none;
  color: #333;
  font-size: 1.5vw;
}

.menu a:hover{
  color:rgb(97, 97, 232);
}

main {
  background-color: rgb(97, 97, 232);
  padding: 2vw 1vw;
  text-align: center;
}

.info{
  display: flex;
  align-items: center;
  padding: 4vw 1.5vw;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2vw;
  font-family: Arial, sans-serif;
}

.info-image{
  width: 50%;
  border: 2px solid rgb(97, 97, 232);
}

.info-text{
  width: 50%;
  text-align: center;
}

.info-text h3{
  padding: 1vw;
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
}

.info-text p{
  margin-top: 1vw;
  font-size: 1.5vw;
  margin-left: 0.5vw;
}

.history-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vw;
  max-width: 800px;
  margin: auto;
}

.history-item {
  background-color: white;
  padding: 2vw;
  text-align: center;
  font-size: 2vw;
  border-radius: 10px;
  box-shadow: 0 0.4vw 0.6vw rgba(0, 0, 0, 0.1);
}

.history-item a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.history-item a:hover{
  color: rgb(97, 97, 232);
  text-decoration: none;
}

footer{
  background-color: black;
  color: white;
  padding: 2vw;
  text-align: center;
}

.footer-menu{
  display:flex;
  justify-content: center;
  gap:1.5vw;
  margin-bottom: 1vw;
  align-content: stretch;
  align-items: center;
}

.social-media{
  display:flex;
  justify-content: center;
  gap:1.5vw;
  margin-bottom: 1vw;
  align-content: stretch;
  align-items: center;
}

.social-media img{
  width: 80%;
}

.footer-menu a, .social-media a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5vw;
}

.footer-menu a:hover, .social-media a:hover {
  color: rgb(97, 97, 232);
}

footer p {
  font-size: 1.5vw;
  opacity: 0.8;
}

@media screen and (max-width: 768px) {   
    .history-grid {
      grid-template-columns: 1fr;
    }
   
    .footer-menu{
      flex-direction: column;
    }

    .social-media img{
      width: 25%;
    }

    .logo{
      width: 2%;
    }

    .info-image{
      width: 30%;
    }
  }
  
